## get assignments tests

     checks.........................: 100.00% ✓ 7719       ✗ 0
     data_received..................: 13 MB   1.3 MB/s
     data_sent......................: 1.4 MB  139 kB/s
     http_req_blocked...............: med=3µs     p(99)=21.81µs
     http_req_connecting............: med=0s      p(99)=0s
     http_req_duration..............: med=10.27ms p(99)=51.59ms
       { expected_response:true }...: med=10.27ms p(99)=51.59ms
     http_req_failed................: 0.00%   ✓ 0          ✗ 7719
     http_req_receiving.............: med=55µs    p(99)=175µs
     http_req_sending...............: med=17µs    p(99)=76µs
     http_req_tls_handshaking.......: med=0s      p(99)=0s
     http_req_waiting...............: med=10.18ms p(99)=51.48ms
     http_reqs......................: 7719    771.146359/s
     iteration_duration.............: med=10.51ms p(99)=52.93ms
     iterations.....................: 7719    771.146359/s
     vus............................: 10      min=10       max=10
     vus_max........................: 10      min=10       max=10

## post assignment test

     checks.........................: 100.00% ✓ 20        ✗ 0
     data_received..................: 2.9 kB  8.1 kB/s
     data_sent......................: 5.3 kB  15 kB/s
     http_req_blocked...............: med=4µs    p(99)=416.74µs
     http_req_connecting............: med=0s     p(99)=171.71µs
     http_req_duration..............: med=7.72ms p(99)=156.97ms
       { expected_response:true }...: med=7.72ms p(99)=156.97ms
     http_req_failed................: 0.00%   ✓ 0         ✗ 20
     http_req_receiving.............: med=65.5µs p(99)=105.66µs
     http_req_sending...............: med=30µs   p(99)=86.15µs
     http_req_tls_handshaking.......: med=0s     p(99)=0s
     http_req_waiting...............: med=7.64ms p(99)=156.8ms
     http_reqs......................: 20      56.089654/s
     iteration_duration.............: med=7.94ms p(99)=157.72ms
     iterations.....................: 20      56.089654/s
