## Page load test

     data_received..................: 32 MB  3.2 MB/s
     data_sent......................: 118 kB 12 kB/s
     http_req_blocked...............: med=3µs     p(99)=27.53µs
     http_req_connecting............: med=0s      p(99)=0s
     http_req_duration..............: med=61.23ms p(99)=126.91ms
       { expected_response:true }...: med=61.23ms p(99)=126.91ms
     http_req_failed................: 0.00%  ✓ 0          ✗ 1478
     http_req_receiving.............: med=109µs   p(99)=458.91µs
     http_req_sending...............: med=15µs    p(99)=80.23µs
     http_req_tls_handshaking.......: med=0s      p(99)=0s
     http_req_waiting...............: med=61.11ms p(99)=126.8ms
     http_reqs......................: 1478   146.994514/s
     iteration_duration.............: med=61.39ms p(99)=126.99ms
     iterations.....................: 1478   146.994514/s
     vus............................: 10     min=10       max=10
     vus_max........................: 10     min=10       max=10

## Assignment submission test
